<mat-card>
    <mat-card-header>
        Expense Grid
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="expense-table">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let expense">{{expense.id}}</td>
            </ng-container>
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let expense">{{expense.title}}</td>
            </ng-container>
              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef>Category</th>
                <td mat-cell *matCellDef="let expense">{{expense.category}}</td>
            </ng-container>
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let expense">{{expense.amount}}</td>
            </ng-container>
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let expense">{{expense.date}}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let expense">
                    <button mat-flat-button color="primary" [routerLink]="['/edit',expense.id]">Edit</button>
                    <button mat-flat-button color="warning" [routerLink]="['/delete',expense.id]">Delete</button> 
                </td>
           </ng-container>
              
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
    <mat-card-actions class="card-actions">
        <mat-paginator [length]="totalItems" [pageSize] ="pageSize" [pageSizeOptions]="[5,10,15,20]" (page) ="onPageChange($event)">       
        </mat-paginator>
    </mat-card-actions>
</mat-card>


